/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}

/* Class Collection */

/* Centers Elements. Is a div because I needed to link to it. */
#main {   
    max-width: 1100px;
    margin: auto;
    
}


/* Seperates the bottom two images from the main one */
.row {
    margin: 8px -16px;
}

/* Centers the two minor images and puts them side by side */
.column {
    float: left;
    width: 50%;
    
}

/* simple padding to seperate elements */
.content {
    padding: 10px
}

/* Both these media querys work together to make the code responsive for mobile users. */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }
}

/* Nav */

/* changes the colour of the nav bar, applies flex to the links, makes it stick to the top, and brings it forward in front of items */
#navbar {
    display: flex;
    justify-content: space-between;
    background: slategray;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #fff;
}

/* puts the links side by side and removes the bullet points  */
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
 
/* spaces links and removes the underline */
#navbar li a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
}


#profilePicture {
    height: 200px;
    width: 200px;
    padding-top: 20px;
   
}

/* Doesn't actually seem to do anything? Oh well I need it for the nav link anyway */
#pfpContainer {
    position: relative;
    display: inline-block;
    display: flexbox;
}



/* Keeps the footer at the bottom and aligns the content in the middle of it. Clear: both; stops it from riding up the page */ 
#contactMe {
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: slategray;
     text-align: center;
     clear: both;
}

#bio {
    flex-wrap: wrap;
    width: 200px;
    padding-top: 10px;
}
